<html lang="en">
       <%- include header-academic %>
       <span style="padding-right:70px;"></span>
       <h1><b>Welcome to Project FaceID</b></h1>
       <span style="padding-right:70px;"></span>
       <h1><b>Academic User</b></h1>
       <div class="container">
       </div>
         <%- include footer %>