<html lang="en">
        <%- include header-active %>
        <span style="padding-right:70px;"></span>
        <h1><b>Welcome to Project FaceID</b></h1>
        <span style="padding-right:70px;"></span>
        <h1><b>Active User</b></h1>
        <div class="container">
        </div>
          <%- include footer %>