<!DOCTYPE html>
<html lang="en">
<head>
  <title>FaceID</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>


  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white"><b>Visualise Data</b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Facial Component Data</a></li>
            <li><a href="#">Tissue thickness Data</a></li>
          </ul>
        </li>
        <li><a href="#" style="color:white"><b>Create Groups</b></a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:white"><b>Manage Documents</b><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Search Documents</a></li>
            <li><a href="/upload">Upload Documents</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"  class="glyphicon glyphicon-log-out" style="color:white"><b> Logout</b></a></li>
      </ul>
    </div>
  </nav>
