<!DOCTYPE html>
<html lang="en">
<head>
  <title>FaceID</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body>

  <nav class="navbar navbar-inverse" >
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/register" style="color:white"><b> User Registration</b></a></li>
        <li><a href="#" style="color:white"><b>Manage Accounts</b></a></li>
        <li><a href="#" style="color:white"><b>Add Notifications</b></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"  class="glyphicon glyphicon-log-out" style="color:white"><b> Logout</b></a></li>
      </ul>
    </div>
  </nav>
